* {
    font-family: 'Gluten', cursive;
    box-sizing: border-box;
    justify-content: center;
    background-color: #FBDEE8;
}

.content {
    height: auto;
    width: auto;
    place-content: center;
}

.header {
    text-align: center;
    color: #C36796;
}

.body {
    height: auto;
    width: auto;
    display: flex;
    place-content: center;
}

.menu {
    height: auto;
    width: 150px;
    align-items: center;
    justify-content: center;
    color: #C36796;
}

.book {
    background-image: url("../img/la_caja_de_gatitos_home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    height: 500px;
}

.networks {
    width: auto;
    display: grid;
    text-align: left;
}

.networks a {
    padding-bottom: 20px;
    font-size: 14px;
    color: #C36796;
    text-decoration: none;
}