@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background-image: linear-gradient(to bottom, rgba(188, 136, 231, 0.514), rgba(255, 255, 255, 0.514));
    min-height: 100vh;
    background-size: cover;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header para desktop */
.header-nav {
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	transform: translateY(20px);
	padding-right: 10px;
    padding-left: 10px;
	width: 60%;
	color: #413a3a;

	& span{
		font-size: 20px;
		color: #b11bc5;
	}
}

/* Header para móvil */
@media screen and (max-width: 800px) {
	.header-nav {
		flex-direction: column;
		padding-bottom: 20px;
	}
}

.header-nav nav {
	display: flex;
	gap: 10px;

	& a {
		text-decoration: none;
		color: #692569;
	}
}

/* Main */
main {
	width: 60%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Media query para pantallas de móvil */
@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.como-jugar-juego img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	aspect-ratio: 16/9;
}

/* Reviews */

.reviews-juego {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
}

.review-panda-jugon-video {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.review-consola-tablero-web {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.review-jugando-nuestros-hijos-video {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

iframe{
	width: 100%;
	aspect-ratio: 16/9;
}