@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background-image: linear-gradient(to bottom, rgba(188, 136, 231, 0.514), rgba(255, 255, 255, 0.514));
    min-height: 100vh;
    background-size: cover;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header para desktop */
.header-nav {
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	transform: translateY(20px);
	padding-right: 10px;
    padding-left: 10px;
	width: 60%;
	color: #413a3a;

	& span{
		font-size: 20px;
		color: #b11bc5;
	}
}

/* Header para m贸vil */
@media screen and (max-width: 800px) {
	.header-nav {
		flex-direction: column;
		padding-bottom: 20px;
	}
}

.header-nav nav {
	display: flex;
	gap: 10px;

	& a {
		text-decoration: none;
		color: #692569;
	}
}

header h1 {
	color: #8836a8;
}

/* Main */
main {
	width: 60%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Media query para pantallas de m贸vil */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

/* Introducci贸n juego */
.introduccion-juego {
	padding-bottom: 50px;
}

/* Como jugar */
.como-jugar-juego p {
	padding-top: 15px;
	padding-bottom: 15px;
}

article h2 {
	color: #671072;
}

article h3 {
	color: #5f1392;
}

/* Reviews */

.reviews {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	column-gap: 24px;;
}

/* Media query para pantallas de m贸vil */
@media screen and (max-width: 768px) {
    .reviews {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media query para tabletas */
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .reviews {
        grid-template-columns: repeat(2, 1fr);
    }
}

.review-sponsor {
	display: flex;
	flex-direction: column;
	flex-direction: column-reverse;
	gap: 24px;

	& img {
		width: 300px;
		height: 150px;
		aspect-ratio: 16/9;
		border-radius: 10px;
	}
}

review header h3 {
	color: rgb(149, 72, 168);
}

iframe{
	border-radius: 25px;
}

.redes-sociales {
	display: flex;
	text-align: left;
	gap: 24px;
	list-style: none;
	margin: 0;
}

.icono-redes-sociales {
	font-size: 1.2em;
	color:rgb(82, 37, 88)
}

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: rgb(81, 5, 168);
    border-width: 2px 0 0 0;
    border-radius: 30px;
}

hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: rgb(183, 169, 199);
    border-width: 0 0 2px 0;
    border-radius: 30px;
}

.footer-verkami {
	display: flex;
	align-items: center;
	justify-content:  center;
	margin: 0 auto;
	width: 60%;
	background-color: rgb(238, 214, 234);
	border-radius: 15px;
	padding: 25px;
	gap: 10px;

	& img {
		width: 150px;
		height: 200px;
		aspect-ratio: 16/9;
		border-radius: 15px;
	}

	& a {
		text-decoration: none;
	}
}