* {
    font-family: 'Gluten', cursive;
    box-sizing: border-box;
    justify-content: center;
    background-color: #FBDEE8
}

.content {
    height: 700px;
    width: auto;
    display: grid;
    place-content: center;
}

.networks {
    height: 30px;
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.networks a {
    margin-bottom: 50px;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
    transition: transform .3s;
    color: #C36796;
}

.networks a:hover {
    transform: scale(2);
}

.avatar {
    height: 300px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background-image: url("../img/avatar_ebo_illustration.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    border-radius: 50%;
}

.buttons {
    display: grid;
    text-align: center;
}

.buttons a {
    background-color: #D07CA6;
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    margin: 5px;
    border-radius: 30px;
}

.buttons a:hover {
    background-color: #ef9A9A;
    transition: 500ms;
}