body {
	background-color: rgba(234, 223, 243, 0.514);
}

/* Header para desktop */
.header-nav {
	background-color: rgb(196, 224, 221);
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding-right: 10px;
    padding-left: 10px;
	padding-bottom: 20px;
	width: 80%;
}

/* Header para móvil */
@media screen and (max-width: 800px) {
	.header-nav {
		flex-direction: column;
	}
}

.header-nav nav {
	display: flex;
	gap: 10px;
}

/* Main */
.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 16px;
}

.sobremi {
	grid-column: span 1;
	grid-row: span 2;
	display: flex;
	align-items: start;
	justify-content: center;
}

.botica {
	grid-column: span 1;
	grid-row: span 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gatitos {
	grid-column: span 1;
	grid-row: span 2;
	display: flex; 
	align-items:start;
	justify-content: center;
}

.ilustraciones {
	grid-column: span 1;
	grid-row: span 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contacto {
	grid-column: span 3;
	grid-row: span 1;
	display: flex;
	align-items: center;
	justify-content: center;
}